git+https://github.com/openg2p/openg2p-fastapi-common@v1.1.5#subdirectory=openg2p-fastapi-common
git+https://github.com/OpenG2P/openg2p-pbms-bg-tasks.git@3.0#subdirectory=openg2p-bg-task-models
git+https://github.com/PSNAppz/openg2p-g2p-bridge.git@2.0#subdirectory=openg2p-g2p-bridge-models
